Checks: >
  bugprone-*,performance-*,readability-*,modernize-*,
  cppcoreguidelines-*,clang-analyzer-*
WarningsAsErrors: ['bugprone-*','clang-analyzer-*']
HeaderFilterRegex: '^(include|src|drivers)/'
FormatStyle: none
